/*menu code*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#A38B7C;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
font-family: 'Spartan', sans-serif;
font-weight: 400;}

li a:hover {
  background-color: #5FA66B;
    
}

.active {
    background-color:#B0CFAD;
}

div.menu {
    text-align: left;
    width: 85%;
    padding-left: 30px;
    padding-top: 48px;
    float: right;
    margin-bottom: 100px;

}

/*other*/


body {
    background-color: #EDF6E9;
    width: 99%;
    text-align: center;
}

.logo {   
    margin-top: -200px;
    margin-left: 35px;
    float: left;
}



/*container*/

.container {
  position: relative;
  display: inline-block;
  height: 400px;
  width: 400px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: -110px;

}

img {
 width: 150px;
 height: auto;
}

.image {
  display: block;
  width: 400px;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 250px;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #A58FC3;

}

.container:hover .overlay {
  opacity: 1;
}

.overlay-two {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 250px;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #5FA66B;
    
}

.container:hover .overlay-two {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
    font-family: 'Spartan', sans-serif;
    font-weight: 400;}
}


/*responsive*/

@media only screen and (max-width: 1094px) {

div.menu {
    text-align: left;
    width: 80%;
    padding-left: 20px;
    padding-top: 48px;
    float: right;
    margin-bottom: 100px;

}

    .logo {   
    margin-top: -200px;
    margin-left: 10px;
    float: left;
}
   
}


@media only screen and (max-width: 700px) {

div.menu {
    text-align: left;
    width: 65%;
    padding-left: 20px;
    padding-top: 48px;
    float: right;
    margin-bottom: 100px;

}

    .logo {   
    margin-top: -200px;
    margin-left: 10px;
    float: left;
}
   
}


@media only screen and (max-width: 500px) {

div.menu {
    text-align: left;
    width: 65%;
    padding-left: 20px;
    padding-top: 48px;
    float: right;
    margin-bottom: 100px;

}

    .logo {   
    margin-top: -200px;
    margin-left: 10px;
    float: left;
}
   
}


/*pages*/
.resume {
    width: 800px;
}

.scale {
    width: 800px;
    float: left;
    margin-left: 75px;
    margin-bottom: 100px;
}

.scale2 {
    width: 800px;
    float: left;
    margin-left: 75px;
    margin-top: -20px;
}

.scale3 {
    width: 800px;
    float: left;
    margin-left: 75px;
    margin-top: 40px;
}

.scale4 {
    width: 800px;
    float: left;
    margin-left: 75px;
    margin-top: -60px;
}

.type {
   position: relative;
    display: inline-block;
    text-align: left;
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
    font-size: 12px;
    width: 400px;
    margin-right: 85px;
    line-height: 16px;
}

.type2 {
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 600px;
    text-align:left;
}

.title {
    position: relative;
    display: inline-block;
    text-align: left;
    font-family: 'Spartan', sans-serif;
    font-weight: 200;
    font-size: 12px;
    width: 400px;
    margin-right: 85px;
    color: #5FA66B;
}

.pdf a {
    text-decoration: none;
    position: relative;
    display: inline-block;
    text-align: left;
    font-family: 'Spartan', sans-serif;
    font-weight: 200;
    font-size: 16px;
    width: 400px;
    margin-right: 85px;
    color: #5FA66B;
    line-height: 40px;
    
}

