/*menu code*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#A38B7C;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
    /*border-style: solid;*/
    /*border-width: 2px;*/
font-family: 'Spartan', sans-serif;
font-weight: 400;}

li a:hover {
  background-color: #5FA66B;
    
}


/*hover effect*/

.container {
  position: relative;
  width: 50%;
    float: left;
}

.overlay {
  position: absolute;
  top: 40;
  bottom: 0;
  left: 48px;
  right: 0;
  height: 250px;
  width: 400px;
  opacity: 0;
  transition: .5s ease;
  background-color: #A58FC3;
z-index: 2;
}


.container:hover .overlay {
  opacity: 0.95;
    transition: .5s ease;
}

.container .image {
display: block;
  width: 400px;
  height: auto;
    padding-top: 40px;
     padding-left: 48px;
}

.text {
  color: #EDF6E9;
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
  font-size: 30px;
    opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


.image:hover {
    opacity: 0.3;
    transition: .5s ease;
}



/*container2*/

.container2 {
  position: relative;
  width: 50%;
    float: left;
}

.container2:hover .overlay2 {
  opacity: 0.95;
    transition: .5s ease;
}

.container2 .image {
display: block;
  width: 400px;
  height: auto;
padding-top: 40px;
float: left;
}

.overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 500px;
  right: 0;
  height: 250px;
  width: 400px;
  opacity: 0;
  transition: .5s ease;
  background-color: #5FA66B;
z-index: 2;
}

/*container3*/

.container3 {
  position: relative;
  width: 50%;
    float: left;
}

.container3:hover .overlay {
  opacity: 0.95;
    transition: .5s ease;
}

.container3 .image {
display: block;
  width: 400px;
  height: auto;
     padding-left: 30px;
}

/*container4*/

.container4 {
  position: relative;
  width: 50%;
    float: left;
}

.container4:hover .overlay2 {
  opacity: 0.95;
    transition: .5s ease;
}

.container4 .image {
display: block;
  width: 400px;
  height: auto;
     padding-left: 30px;
}

/*container5*/

.container5 {
  position: relative;
  width: 50%;
     float: left;
}

.container5:hover .overlay {
  opacity: 0.95;
    transition: .5s ease;
}

.container5 .image {
display: block;
  width: 400px;
  height: auto;
     padding-left: 30px;
}

/*container6*/

.container6 {
  position: relative;
  width: 50%;
     float: left;
}

.container6:hover .overlay2 {
  opacity: 0.95;
    transition: .5s ease;
}

.container6 .image {
display: block;
  width: 400px;
  height: auto;
     padding-left: 30px;
}

/*containerx*/

.containerx {
    display: inline-block;
    width: 400px;
    height: 400px;
    border: 20px;
    border-color: blue; !important;
    
}

.containerx1 {
    display: inline-block;
    width: 400px;
    height: 400px;
    border: 20px;
    border-color: blue; !important;
    
}

.overlay {
  position: absolute;
  top: 40;
  bottom: 0;
  left: 48px;
  right: 0;
  height: 250px;
  width: 400px;
  opacity: 0;
  transition: .5s ease;
  background-color: #A58FC3;
z-index: 1;
}


.containerx:hover .overlay {
  opacity: 0.95;
    transition: .5s ease;
}

.containerx .image {
display: block;
  width: 400px;
  height: 400px;
    padding: 30px;
}

.text {
  color: #EDF6E9;
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
  font-size: 30px;
    opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


.image:hover {
    opacity: 0.3;
    transition: .5s ease;
}


/*other*/
.logo {   
    width: 100px;
    padding-left: 48px;
    padding-bottom: 30px;
    padding-top: 10px;
    top: -100px;
    
}


/*menu code*/

.active {
    background-color:#B0CFAD;
}

body {
    background-color: #EDF6E9;
}

h1 {
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
    color: #5FA66B;
    padding-left: 30px;
}

p {
    font-family:'Spartan', sans-serif;
    color: white;
    font-weight: 200;
}

div.menu {
    text-align: left;
    width: 1225px;
    padding-left: 10px;
    padding-top: 48px;
    float: right;
}

/*responsive*/  
@media only screen and (max-width: 600px) {

}
